<div class="product">

  {%- include 'banderoles' -%}

  {% if product.featured_image %}
    <div class="gallery-image">
      <a href="{{product.url}}" title="{{ item.title }}">
        {{ product.featured_image | product_img_url: 'medium' | img_tag }}
      </a>
    </div>
  {% endif %}

  <div class="productbasic">
    <h3><a href="{{product.url}}">{{product.title}}</a></h3>

    {% if product.available %}
        {% case product.type %}

        {% when 'linkothershop' %}
          <div class="money">
            {{ product.vendor }}
          </div>
        {% else %}
          <div class="money">
            {{product.selected_or_first_available_variant.price | money | remove: '.00' }}
            {% for collection in product.collections %}
                {% if collection.handle == 'lowstock' %}
                    <span style="color: white; background-color: orangered; padding:0px 3px;">Low Stock</span>
                {% endif %}
            {% endfor %}
          </div>
      {% endcase %}
    {% else %}
      {% assign soon = 'false' %}
      {% for collection in product.collections %}
        {% if collection.handle == 'soon' %}
          {% assign soon = 'true' %}
        {% endif %}
      {% endfor %}
      {% if soon =='true' %}
        <div class="money" style="color:green;">
          Coming Soon
        </div>
      {% else %}
        <div class="money" style="color:red;">
          Sold Out
        </div>
      {% endif %}
    {% endif %}

  </div>
</div>
