<script>
  function updateprice(newprice) {
      var stringstart = newprice.indexOf("€");
      var newprice = newprice.slice(stringstart);
    document.getElementById("variantprice").innerHTML = newprice;
  }
</script>

<div id="sidebarright">
  <div id="productcontrols">
    <div class="producttopinfo">
      <h2 class="productinfo">{{ product.title }}</h2>
    </div>
    {% case product.type %}
      {% when 'linkothershop' %}
        <a href="{% for variant in product.variants %}{{ variant.sku }}{% endfor %}" target="_blank">
          <div class="buybutton">
            {{ product.vendor }}
          </div>
        </a>
      {% else %}
        {% if product.available %}

          <form action="/cart/add" method="post">
            <div class="producttopinfo" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
              <!-- variants -->
              {%  if product.variants.size > 1 %}
                <div class="price" itemprop="price"><span id="variantprice">{{product.selected_or_first_available_variant.price | money | remove: '.00'}}</span></div>
                <select name="id" id="variant-dropdown" onchange="updateprice(this.options[this.selectedIndex].text)">
                  {% if isTee %}
                    <option value="select_tee">Please select a size</option>
                  {% endif %}
                  {% for variant in product.variants %}
                    {% if variant.available == true %}
                      <option value="{{variant.id}}" itemprop="price"> {{ variant.title }} {{ variant.price | money | remove: '.00' }} </option>
                    {% else %}
                      <option disabled="disabled"> {{ variant.title }} - Sold Out! </option>
                    {% endif %}
                  {% endfor %}
                </select>
              {% else %}
                {% for variant in product.variants %}
                  {% if variant.available == true %}
                    <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
                    <span class="price" itemprop="price">{{ variant.price | money | remove: '.00'  }}</span>
                  {% else %}
                    <span class="soldout"> {{ variant.title }} - Sold Out!</span>
                  {% endif %}
                {% endfor %}
              {% endif %}
              <!-- /variants -->
            </div>
            <input type="submit" name="add" value="Buy" id="add" class="buybutton"/>
          </form>

      {% else %}
        <div class="producttopinfo">
          <h2 class="productinfo">{{ product.title }}</h2>
        </div>
        {% assign soon = 'false' %}
        {% for collection in product.collections %}
          {% if collection.handle == 'soon' %}
            {% assign soon = 'true' %}
          {% endif %}
        {% endfor %}

        {% if soon =='true' %}
          <div class="SOLDbutton">
            <img src="{{ 'SOONbutton01k.png' | asset_url }}" />
          </div>
        {% else %}
          <div class="SOLDbutton">
            <img src="{{ 'SOLDbutton-2x-01k.png' | asset_url }}" width="168" height="72" />
          </div>
        {% endif %}
      {% endif %}
    {% endcase %}
  </div>

  <div id="description">
      {{ product.description }}
  </div>
</div>
