<script type="text/javascript">
  function remove_item(id) {
    document.getElementById('updates_'+id).value = 0;
    document.getElementById('cartbox').submit();
  }
</script>

{% if cart.item_count == 0 %}
  <div class="cart-banner">
    Your shopping cart is empty.
  </div>
{% else %}
  <div class="cart-banner">
    Save! Same shipping costs for any quantities of posters! <a href="/pages/info">Shipping Info</a>
  </div>
  <form action="/cart" method="post" id="cartbox">
    <div id="cart">
      <ul id="line-items">
        {% for item in cart.items %}
          <li id="item-{{item.id}}" class="itemline">
            <div class="cart-product-thumb">
              <a href="{{item.product.url}}" title="{{item.title}}"><img src="{{item.product.featured_image | product_img_url: 'thumb' }}" alt="{{item.title}}" /></a>
            </div>
            <div class="cart-product-row">
              <span class="cart-product-title">
                <a href="{{item.product.url}}" title="{{item.title}}">
                  {{ item.title }}
                  {% if item.variant.title != 'Default' %}
                     ({{item.variant.title}})
                  {% endif %}
                </a>
              </span>
              <span class="cart-product-quantity">
                <span class="cartqty">qty:</span><input type="text" size="2" name="updates[]" id="updates_{{item.variant.id}}" value="{{item.quantity}}" onfocus="this.select();"/>
                <label for="updates_{{item.variant.id}}">{{ item.price | money_with_currency }}</label>
              </span>
            </div>
          </li>
        {% endfor %}
        <li id="cart-subtotal-row">
          <input type="submit" id="update-cart" name="update" value="Update Cart" class="cart-update-button" />
          <span id="cart-subtotal">Subtotal:
            <span class="money">{{ cart.total_price | money_with_currency }}</span>
          </span>
        </li>
      </ul>
    </div>

    <div class="checkout-row">
      <span class="icon-creditcard"></span>
      <input type="submit" value="Checkout" name="checkout" class="cart-checkout-button"/>
    </div>

    {% if additional_checkout_buttons %}
      <div class="additional_checkout_buttons visually-hidden">{{ content_for_additional_checkout_buttons }}</div>
    {% endif %}

  </form>
{% endif %}
