<div id="frontpage">

	{% if blogs.frontpage.articles_count > 0 %}
		<div id="frontarticles">
			{% for article in blogs.frontpage.articles  %}
			  	<h1>{{ article.title }}</h1>
			  	<div class="article textile">
			  	  {{ article.content }}
			  	</div>    
			{% endfor %}
		</div>
	{% endif %}
		
	{% for product in collections.frontcover.products %}
        <!-- banderolas -->
        {% for collection in product.collections %}
    		{% case collection.handle %}
				{% when 'new' %}
						<img class="new" src="{{ 'new04s.png' | asset_url }}" alt="new" height="107" width="107"/>
				{% when 'soon' %}
						<img class="new" src="{{ 'soon01k.png' | asset_url }}" alt="soon" />
				{% when 'pre-order' %}
						<img class="newbig" src="{{ 'PREORDERBANNER-02k-2x.png' | asset_url }}" alt="pre-order" />
				{% else %}
			{% endcase %}
		{% endfor %}
        <!-- /banderolas -->
        <!-- Love Sticker -->
		<a href="{{product.url}}" title="{{ item.title }}">
          	<img class="love" src="{{ 'Sticker-Love-2x-01k.png' | asset_url }}" alt="featured" width="151" height="147" />
		</a>
        <!-- /Love Sticker -->
		<div class="coverpics">
			<a href="{{product.url}}" title="{{ item.title }}">
             	<img class="bigsquare" src="{{ product.featured_image | product_img_url: 'original'}}" alt="{{product.title}}" />
			</a>
		</div>
	{% endfor %}

	<div class="gallery">
	{% for product in collections.frontpage.products %}
		{% include 'galleryproduct' %}
	{% endfor %}
	</div><!-- /#gallery -->
	
</div><!-- /#frontpage -->

