<script type="text/javascript">
  $.noConflict();
  jQuery(document).ready(function() {
    jQuery('.BUYbutton').click(function(){
      var test = jQuery('#variant-dropdown option:selected').val();
      if(test == "select_tee"){
        alert("Please select a size!");
        return false;
      }
    });
  });
</script>
<div id="product-images">
  {% for image in product.images %}
    <div id="pimage-{{forloop.index}}" class="pimage" {% if forloop.first %} style="display: block;" {% else %} style="display: none;" {% endif %}>
      {% include 'banderoles' %}
      <img class="bigsquare" src="{{ image | product_img_url: 'original'}}" alt="{{product.title}}" />
    </div>
  {% endfor %}

  <div id="pimage-select">
    {% for image in product.images %}
      <div class="thumbnail">
        <a href="#" onclick="displayImage({{ forloop.index }}, 'product-images');"><img src="{{ image | product_img_url: 'medium'}}" alt="{{product.title}}" /></a>
      </div>
    {% endfor %}
  </div>
</div>
